<!doctype html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}"{{ with .File }}{{ if eq .TranslationBaseName "astrophotography" }} class="content-astrophotography"{{ else if eq $.Layout "animation" }} class="content-animation"{{ end }}{{ end }}>
  {{- partial "head.html" . -}}
  <body
    class="page-background{{ with .File }}{{ if eq .TranslationBaseName "astrophotography" }} content-astrophotography{{ else if eq $.Layout "animation" }} content-animation{{ else if eq .TranslationBaseName "bookmarks" }} content-bookmarks{{ end }}{{ end }} bg-neutral-50 m-auto flex h-screen max-w-7xl flex-col px-6 text-lg leading-7 text-neutral-900 sm:px-14 md:px-24 lg:px-32 dark:bg-neutral-800 dark:text-white"
  >
    <main class="flex-grow">{{- block "main" . }}{{- end }}</main>
    {{ with .File }}{{ if eq .TranslationBaseName "bookmarks" }}
      <script src="{{ "js/bookmark-previews.js" | relURL }}" defer></script>
    {{ end }}{{ end }}
  </body>
</html>
