.page-background {
  background-color: #e4f3d8;
}

html {
  background-color: #e4f3d8;
}

.headline-description {
  color: #000000;
}

@media (prefers-color-scheme: dark) {
  .page-background,
  html {
    background-color: rgb(31 41 55);
  }

  body,
  body .dark\:text-white {
    color: #e5e7eb;
  }

  body .headline-name,
  body .headline-description {
    color: #d1d5db;
  }
}

.link-linked{
  background-color: #0077b5;
}

.link-astro{
  background-color: #06068a;
}
.link-googlescholar{
  background-color: #4081EC;
}

/* .link-darksky{
  background-color: #001135;
} */

h2 {
  text-align: left;
}


.link-articles{
	background-color: #FFFFFF;
	color: #000000;
	border-width:1px;
	/* font-family: "Comic Sans MS"; */
}

li {
	margin: 1px 0 !important;
}
